<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>bg_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>btn_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{241,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{241,43}</string>
            </dict>
            <key>btn_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1440},{241,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{241,43}</string>
            </dict>
            <key>btn_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1440},{136,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>btn_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1440},{136,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>btn_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1507},{364,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{364,60}</string>
            </dict>
            <key>btn_setting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1507},{364,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{364,60}</string>
            </dict>
            <key>btn_soldierattack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1507},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>btn_soldierattack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1507},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>btn_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1567},{364,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{364,60}</string>
            </dict>
            <key>btn_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1567},{364,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{364,60}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1627},{434,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{450,110}</string>
            </dict>
            <key>tab_shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1627},{154,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>tab_shu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1627},{140,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>tab_wei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1627},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>tab_wei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1733},{150,74}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>tab_wu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1733},{154,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>tab_wu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1733},{142,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>text_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1733},{288,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{288,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GameUI01.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5662b5867f39ae9fd5cd7f7b27aae38$</string>
            <key>textureFileName</key>
            <string>GameUI01.png</string>
        </dict>
    </dict>
</plist>
